input:focus, button:focus, select:focus{
    outline: none;
}

.main-container{
    background-color:  #f7f7f7;
}
.horizontal-line{
    width: calc(100% - 32px);
    margin: 0 auto;
    border: 0.5px solid rgb(239, 230, 230);
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15px;
    width: 100%;
    height: 60px;
    background-color: white;
}
.iconAndIconName{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 165px;
}
.icon{
    height: 30px;
    width: 30px;
}
.iconName{
    font-size: 18px;
    font-weight: 600;
}
.browse-themeBtn-notification-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 160px;
}
.browse{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 5px;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    
}
.browse-symbol{
    height: 15px;
    width: 15px;
}
.browse-name{
    font-size: 13px;
    font-weight: 400;
    padding: 0px 5px;
}
.themeBtn{
    width: 30px;
    background-color: black;
}
.downBtn{
    padding-bottom: 7px;
    font-size: 15px;
}
.notification{
    width: 15px;
    height: 19px;
}
.search{
    width: 15px;
    height: 16px;
}


.user-profile-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 20px 15px;
    background-image: linear-gradient(to left, white, transparent 30%), linear-gradient(to right, white, transparent 30%), url(https://www.cipherschools.com/static/media/ProfileCover.e525f2d51356332792cb.png);
}
.photo-name-email{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
}
#file-upload{
    display: none;
}
.photo-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo{
    width: 60px;
    height: 60px;
    border: 1px solid blue;
    border-radius: 29px;
}
.btn{
    width: 25px;
    height: 25px;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
}
.editBtnImg{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.hello-name-email{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hello{
    font-size: 18px;
}
.name{
    font-size: 20px;
    font-weight: 500;
}
.email{
    font-size: 13px;
    font-weight: 350;
}
.follower-cnt{
    font-size: 18px;
}


.about-me-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 220px;
    padding: 20px 15px;
}
.aboutme-editBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}
.aboutme{
    font-size: 15px;
    font-weight: 600;
}
.editBtn{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: orange;
    width: 70px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 15px;
    color: white;
    cursor: pointer;
}
.aboutme-textarea{
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: white;
    width: 100%;
    height: 150px;
    outline: none;
    padding: 15px 15px;
    resize: none;
    font-size: 15px;
    font-weight: 600px;
}



.cipher-text-map{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 15px;
    width: 100%;
}
.cipher-map{
    height: 170px;
}



.ontheweb-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px 15px;
}
.ontheweb-editbtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}
.grid-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.websitename-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.websitename{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-bottom: 10px;
}
.linkname{
    font-size: 15px;
    font-weight: 450;
    padding-bottom: 5px;
}
.linkinput{
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: white;
    padding: 0px 10px;
}
.left-linkinput{
    width: 95%;
    padding-right: 25px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid transparent;
}
@media screen and (max-width: 600px) {
    .websitename-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    }
    .websitename{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 10px;
    }
    .left-linkinput{
        width: 100%;
    }
}



.password-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

